$maincolor: #7ed56f;
$greycolor: #55c57a;
$greencolor: #28b485;
$color-black: #000;
$font: 4.4rem;
$linear-gradient: linear-gradient(
  to bottom right,
  rgba(126, 213, 111, 0.8),
  rgba(40, 180, 133, 0.8)
);

$color-white: #fff;
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;

$color-black: #000;

$color-secondary-light-1: #ffb900;
$color-secondary-light-2: #ff7730;

$color-tertiary-light-1: #2998ff;
$color-tertiary-light-2: #5643fa;
$grid-width: 114rem;
$space-vertical: 8rem;
$space-gorizontal: 6rem;
$color-white: #fff;
$background-color-section: #f7f7f7;
