.row {
  max-width: $grid-width;
  margin: 0 auto;
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: $space-vertical;
  }
  [class^="col-"] {
    float: left;
    &:not(:last-child) {
      margin-right: $space-gorizontal;
    }
  }
  @include clearfix;
  .col-1-of-2 {
    width: calc((100% - #{$space-gorizontal}) / 2);
  }
  .col-1-of-3 {
    width: calc((100% - #{$space-gorizontal * 2}) / 3);
  }
  .col-2-of-3 {
    width: calc(
      ((100% - #{$space-gorizontal * 2}) / 3) * 2 + ($space-gorizontal)
    );
  }
  .col-2-of-4 {
    width: calc(
      2 * (100% - #{$space-gorizontal * 3}) / 4 + ($space-gorizontal)
    );
  }

  .col-1-of-4 {
    width: calc((100% - #{$space-gorizontal * 3}) / 4);
  }
  .col-3-of-4 {
    width: calc(
      3 * (100% - #{$space-gorizontal * 3}) / 4 + 2 * ($space-gorizontal)
    );
  }
  // row-gap: $space-vertical;
  // column-gap: $space-gorizontal;
}
