.submit {
  display: inline-block;
  width: 20rem;
  height: 5rem;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 2rem;
  font-size: 500;
  margin: 0 auto;
  position: relative;
  &:hover::after {
    cursor: pointer;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    border-radius: 2rem;
    top: 0;
    left: 0;
    z-index: -1;
    animation-name: buttonhover;
    animation-duration: 0.5s;
  }
}
// animation-name: button_move;
// animation-duration: 2s;
// animation-timing-function: ease-in-out;

.btn-text {
  transition: all 0.2s;

  &:link,
  &:visited {
    font-size: 1.8rem;
    color: $greencolor;
    display: inline-block;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid $greencolor;
    background-color: #f7f7f7;
  }
  &:hover {
    color: #fff;
    padding: 3px;
    background-color: $greencolor;
    transform: translateY(-5px);
  }
  &:active {
    transform: translateY(0);
  }
}
.back_btn {
  padding: 1.5rem 0;
}
.submit_1 {
  display: inline-block;
  width: 20rem;
  height: 5rem;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 2rem;
  font-size: 500;
  margin: 0 auto;
  // position: relative;
  &:hover::after {
    cursor: pointer;
    content: " ";
    width: 20rem;
    height: 5rem;
    background-color: white;
    position: absolute;
    border-radius: 2rem;
    top: 31rem;
    left: 7rem;
    z-index: -1;
    animation-name: buttonhover;
    animation-duration: 0.5s;
  }
}
.btn_color {
  background-image: $linear-gradient;
  color: white;
  width: 25rem;
}
