.composition {
  position: relative;
  transition: all 0.5s ease-in-out;
  .photo1 {
    width: 55%;
    position: absolute;
    z-index: 10;
    border-radius: 1px;

    &:hover {
      outline-offset: 2rem;
      outline: 1rem solid $greencolor;

      transform: scale(1.2);
      z-index: 20;
    }
  }

  .photo--1 {
    top: -2rem;
    left: 0;
  }
  .photo--2 {
    top: 1rem;
    right: 0;
  }
  .photo--3 {
    top: 15rem;
    left: 8rem;
  }
  &:hover .photo1:not(:hover) {
    transform: scale(0.9);
  }
}
