.heading_secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: $linear-gradient;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  &:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0 15px 30px rgba($color-black, 0.2);
  }
  transition: all 0.2s;
  letter-spacing: 2px;
}
.heading-three {
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.text-box {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}
.heading_card {
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 50%;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
  &__1 {
    background-image: linear-gradient(to bottom right, #ffb900, #ff7730);
  }
  &__2 {
    background-image: linear-gradient(to bottom right, #2998ff, #5643fa);
  }
  &__3 {
    background-image: linear-gradient(
      to bottom right,
      rgba(126, 213, 111, 1),
      rgba(40, 180, 133, 1)
    );
  }
}
.list {
  padding: 2rem 2.5rem;
  list-style: none;
  text-align: center;
  color: #777;
  li {
    font-size: 1.6rem;
    margin-top: 2rem;
    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }
}
.section__back {
  text-align: center;
  padding: 3rem;
}
.back_heading {
  margin: 10rem 0 0rem 0;
  color: white;
  font-size: 3rem;
  &__1 {
    font-size: 4rem;
    font-weight: 500;
    color: white;
    padding: 5rem;
  }
}
