.section_about {
  padding: 30rem 0rem;
  background-color: $background-color-section;
  margin-top: -21vh;
}
.section-features {
  padding: 25rem 0;
  background-image: $linear-gradient, url(../img/nat-4.jpg);
  transform: skewY(-7deg);
  margin-top: -25vh;
  & > * {
    transform: skewY(7deg);
  }
}
.section_tours {
  padding: 25rem 0;
}
